* {
   /*border: 1px dashed #0000FF;*/
}

@font-face {
    font-family: peach;
    src:url('peach-sundress.ttf');
}
body {
    background-color:darkslategrey;
    background-size:cover;
    background-repeat: no-repeat; 
}

#main nav {
    align-content: center;
    text-align:center;
    display:block;
    font-size: 5ex;
    margin-bottom: 5ex;
    margin-left:6ex;
}

nav a {
    text-decoration: none;
    display: inline;
    margin-right: 100px;
    color: white;
    text-shadow: 2px 2px black;
    position: relative:
}
nav p {
	text-decoration: none;
    margin-right: 80px;
    color: white;
    text-shadow: 2px 2px black;
    position: relative:
}
#cart {
    position: fixed;
    margin-left: 95%;
    color: white;
}
nav a:hover{
    color:#559761;
}

#main h1{
    font-size: 15ex;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 0px;
    font-family: peach;
}

#main {
    margin-top:-10px;
    margin-left: 15%;
    height: fill;
    background-color: #61B2FF;
    width: 70%;
    position: absolute;
    border-radius: 5px;
}

img {
    height:282px;
    width:462px;
    display:block;
    margin: 0 auto;
    
}

#imagearea {
    position:relative;
    height:50ex;
    border: 1px solid #61B2FF;
}
.info{
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    position:relative;
    margin-left:20px;
    margin-right:20px;
   
}
#price {
    margin-top: -40px;
    
}

#formdiv{
    display:block;
    text-align:center;
}
form{
    color: white;
    text-shadow: 2px 1px black;
    display:inline-block;
    text-align:left;
    margin-bottom:50px;
}
